::selection {
	color: $color-primary;
	background-color: #ff0000;
}

::-webkit-scrollbar {
	width: $scrollbar-width;
	&-track { background-color: rgba($color-secondary, .2); }
	&-thumb { background-color: $color-secondary; }
}

html, body, .page-body {
	scroll-behavior: smooth;
}

body {
	@media (min-width: 768px) {
		overflow: hidden;
	}
}

.page-body {
	position: relative;
	height: 100vh;
	@media (min-width: 768px) {
		overflow: hidden;
	}
}

body .c-scrollbar {
	position: absolute;
	right: 0;
	top: 0;
	width: 11px;
	height: 100%;
	// background-color: rgba($color-secondary, .1);
	background-color: none;
	transform-origin: center right;
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
	// opacity: 1;

	// &:hover,
	// .has-scroll-scrolling &,
	// .has-scroll-dragging & {

	// }
	
	.c-scrollbar_thumb {
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgba($color-secondary, .75);
		// opacity: 0.75;
		opacity: 1;
		width: 7px;
		border-radius: 10px;
		margin: 2px;
		cursor: -webkit-grab;
		cursor: grab;
	}
}

// section::after {
// 	content: "";
// 	position: absolute;
// 	left: 0;
// 	bottom: 5rem;
// 	width: 84px;
// 	width: 6rem;
// 	border-bottom: 2px solid #0c0c0c;
// }