.fade-enter-active {
  animation: fade-in .75s;
}

.fade-leave-active {
  animation: fade-in .5s reverse;
}

@keyframes fade-in {
  0% {
		clip-path: circle(0%);
		// background-color: rgba($color: red, $alpha: 0);
  }
  100% {
		clip-path: circle(100%);
		// background-color: rgba($color: red, $alpha: 1);
  }
}

@mixin absolute {
	position: absolute;
	content: '';
	display: inline-block;
	top: 50%;
}

@mixin line($width: 100%, $height: 1px) {
	width: $width;
	height: $height;
	background-color: $color-secondary;
	transform: translateY(-50%);
}

@mixin arrow($size: 1rem, $width: 1px) {
	right: #{$size / 1.65};
	width: $size;
	height: $size;
	border: $width solid $color-secondary;
	border-bottom: 0;
	border-left: 0;
	transform: rotate(45deg) translateY(calc(-50% - 3px));
}

.copy {
	color: $color-secondary;
	font-size: .85rem;
	margin-top: 2rem;
}

.modal-link {
	position: relative;
	display: inline-flex;
	text-decoration: none;

	&::after {
		position: absolute;
		display: inline-block;
		content: ' ';
		width: 1.25rem;
		height: 1.25rem;
		background-size: contain;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAAB/UlEQVR4nO3cS04DMRCE4R/EjVhwNDg1yg3CIkgsQjI9tnuqPa5PYjdjlat4SCwCZmZmZmZmZma2ipeGd67DU/TZusPReXd1+pqVwmI8gJgHEPMAYh5AzAOIeYAJXTe+zuAd+Gb7rpL7ywMk6ynfA3TqLd8DdBhRvgdoNKp8D9DgA7gQKzfyXDp5gIH2fOdfuI0lv788wCAt5RN4Np08wACt5RN4Pp08QKee8gm8k04eoENv+QTeSycP0GhE+QTeTScP0GBU+QTeTycPsNPI8gmckU4eYIfR5RM4J508QFBG+QTOSicPEJBVPoHz0skDbMgsn8CZ6eQBnsgun8C56eQBHjiifAJnp5MH+MdR5ZdQbYClyodaAyxXPtQZYMnyocYAy5YP+gGWLh+0AyxfPugGcPm/FANUKl/9K/jwAJXKJ5Ah3ZEBqpVPIMdpAlQsn0CWUwSoWj6BPNMHqFw+gUxTB6hePoFc0waYoXwC2aYMMEv5PMk19QBfgXMrlA8nHQDgc+PcCuXDiQeAxyNUKR9OPgDcj1CpfFhgAPgboVr5sMgAcPvDXK18GHz/jI8sazlzJkPv7w/rEPMAYh5AzAOIeQAxDyDmAcQ8gJgHEPMAYh5AzAOIvSWceci/ZM/CPwFiHkDMA4h5ADEPIOYBxDyAmZmZmZmZmZnZQX4AGTwk5FRW1TcAAAAASUVORK5CYII=);
		// top: 50%;
		right: -1.75rem;
		bottom: 3px;
		// transform: translateY(-50%);
	}

	// span.line-left {
	// 	position: relative;
	// 	display: inline-block;
	// 	width: 5rem;
	// 	height: .9rem;
	// 	margin-right: .5rem;
		
	// 	&::before {
	// 		@include absolute();
	// 		@include line();
	// 	}
	// }
	
	// span.arrow-right {
	// 	position: relative;
	// 	display: inline-block;
	// 	width: 5rem;
	// 	height: .9rem;
	// 	margin-left: 1rem;
	// 	&::before, &::after {
	// 		@include absolute();
	// 	}
	
	// 	&::before {
	// 		@include line();
	// 	}
	// 	&::after {
	// 		@include arrow();
	// 	}
	// }

}

// .modal-open {
//   overflow: hidden;
// }
// .modal-open .modal {
//   overflow-x: hidden;
//   overflow-y: auto;
// }

.modal {
  // position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  // height: 100%;
	// overflow-y: auto;
  // overflow: hidden;
  outline: 0;
	background-color: rgba($color-primary, .975);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal .col-12.col-lg-6 img {
	margin-bottom: 2rem !important;
	@media (min-width: 576px) {
		& {
			margin-bottom: 1.5rem !important;
		}
	}
}

.modal.show {
 display: block;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translateY(-50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}
.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}
.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
  flex-shrink: 0;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-dialog-centered:before {
  display: block;
  height: calc(100vh - 1rem);
  content: '';
}
.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}
.modal-dialog-centered.modal-dialog-scrollable:before {
  content: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0);
  border-radius: 0;
  outline: 0;
}
.modal-backdrop {
  // position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 1040;
  // width: 100vw;
	width: calc(100vw - #{$scrollbar-width});
  height: 100vh;
  background-color: $color-primary;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.9;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 0 solid rgba(0, 0, 0, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 0 solid rgba(0, 0, 0, 0);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.modal-footer > * {
  margin: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 0.5rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 1rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 1rem);
  }
  .modal-dialog-centered:before {
    height: calc(100vh - 1rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-close {
  width: 35px;
  width: 2.5rem;
  height: 35px;
  height: 2.5rem;
  background: rgba(0, 0, 0, 0)
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41.414' height='41.414'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath d='M40.707.707l-40 40M.707.707l40 40'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat 50%/100% 100%;
  border: 0;
	cursor: pointer;
}
.modal-close:hover {
  text-decoration: none;
}
.modal-fluid {
  max-width: unset;
}
@media (min-width: 1740px) {
  .modal-fluid {
    max-width: 1680px;
  }
}